body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.hint {
    color: var(--tg-theme-hint-color);
}

.link {
    color: var(--tg-theme-link-color);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #007AFF;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    text-decoration: none;
}

.btn:active {
    background-color: #f2f2f2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 122, 255, 0.3);
}

.btn:not(:last-child) {
    margin-bottom: 15px
}

#app {
    margin-top: 10%;
    text-align: center;
}